/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  display: block;
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/